.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: grey;
  transition:
    color 0.3s,
    transform 0.3s;
}

.favorite-button.favorited {
  color: red;
  transform: scale(1.2);
}

.favorite-button:hover {
  transform: scale(1.1);
}
