/* .movie-list .swiper-slide {
  width: 15%;
}

@media (max-width: 768px) {
  .movie-list .swiper-slide {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .movie-list .swiper-slide {
    width: 100%;
  }
} */
